*{
    margin: 0;
    padding: 0;
}
/** header section */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 12px;
}
header .menu li{
    list-style: none;
    text-decoration: none;


}
.menu li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    
}
.menu ul{
    display: flex;
    gap:32px
}

.btn{
background-color: #30B868;
padding: 12px 16px;
border-radius: 4px;
border: none;
color: white;
font-weight: 600px;
cursor: pointer;
}

/** main section */


.menu, .btn, .banner-top-p1, .banner-last-btn{
    font-family: "Inter", sans-serif;

}
.banner-section{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.banner-top-section{
    margin-top: 117px;
}
.banner-btn{
    /* margin-top: 117px; */
    color: #30B868;
    border: none;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    border-radius: 100px;
    gap:6px;
    padding: 8px 12px;
    font-weight: 500px;
    font-size: 16px;


}
.banner-btn img{
    height: 16px;
    width: 16px;
}


.banner-heading{
    margin: 16px 0 16px ;
    font-family: "Inter",sans-serif;
    font-size: 30px;
    opacity: 0.9;
}
.banner-paragraph{
    margin-bottom: 32px;
    font-weight: 18px;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    line-height: 24px;
}
.group-btn{
    display: flex;
    gap: 16px;
    margin-bottom: 184px;
}
.group-btn .btn{
    display: flex;
    align-items: center;
    gap:10px;
    font-size: 16px;
    border-radius: 4px;
}
.banner-last-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    background-color: transparent;
    color: white;
    padding: 12px 16px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600px;
    border-radius: 4px;
    cursor: pointer;
}